<ng-template #noProducts>
  <div class="container wrap-white text-center">

    <img class="img-fluid mx-auto d-block" src="../../../assets/img/gio-hang-trong.png" alt="">
    <br>
    <span>Giỏ hàng trống, đi sắm đồ nhé </span>
    <a class="btn btn-success" href="/">Let's go</a>

  </div>
</ng-template>


<div *ngIf="total_quantity > 0 else noProducts" class="row mt-5">
  <!-- Giỏ hàng  -->
  <div class="col-md-9 col-12">
    <table class="table">
      <tr *ngFor="let item of cart['carts']">
        <td>
          <img src={{item?.image}} alt="" class="avatar-product">
        </td>
        <td>
          <a href="/product-detail/{{item.id_product}}">{{item.name_product}}</a>
          <div>
            <button (click)="deleteProduct(item.id_product)" class="btn btn-outline-danger btn-sm mt-2">Xoá</button>
          </div>
        </td>
        <td>
          <h5> {{item.price}}</h5>
        </td>
        <td style="min-width:140px">
          <div class="input-group">
            <div *ngIf="item.quantity >= 2" class="input-group-btn"><button
                (click)="TruSoLuong(item.id_product, item.quantity)">-</button></div>
            <input id="quantity-{{item.id}}" style="text-align: center;" type="number" min="0" max="10"
              value={{item.quantity}} step="1">
            <div class="input-group-btn"><button (click)="CongSoLuong(item.id_product, item.quantity)">+</button></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <!-- Bill -->
  <div class="col-md-3 col-12">
    <div class="text-center my-3">
      <h6 class="text-uppercase">Giá trị đơn hàng</h6>
    </div>
    <div class="text-center my-3">
      <h2 class="border border-info font-weight-bold text-info">{{cart?.total_price}}</h2>
    </div>
    <div class="text-center my-5">
      <a *ngIf="total_quantity > 0" href="/checkout" class="btn btn-lg btn-danger">
        Tiến hành đặt hàng
      </a>
    </div>
  </div>
</div>