<div class="row mt-5">
  <!-- Giỏ hàng  -->
  <div class="col-md-9 col-12">
    <table class="table">
      <tr *ngFor="let index of [].constructor(3)">
        <td>
          <img src="https://via.placeholder.com/150" alt="">
        </td>
        <td>
          <a href="">Tên sản phẩm</a>
          <div>
            <button class="btn btn-outline-danger btn-sm mt-2">Xoá</button>
          </div>
        </td>
        <td>
          <span class="font-weight-bold">10.000 đ</span>
        </td>
        <td>
          <input type="number" min="0" max="10" value="1" step="1">
        </td>
      </tr>
    </table>
  </div>
  <!-- Bill -->
  <div class="col-md-3 col-12">
    <div class="text-center my-3">
      <h6 class="text-uppercase">Giá trị đơn hàng</h6>
    </div>
    <div class="text-center my-3">
      <h2 class="border border-info font-weight-bold text-info">50.000 đ</h2>
    </div>
    <div class="text-center my-5">
      <a href="/checkout" class="btn btn-lg btn-danger">
        Tiến hành đặt hàng
      </a>
    </div>
  </div>
</div>