<div class=" text-center bg-light p-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <small><a href="" class="text-secondary">CHÍNH SÁCH BẢO MẬT</a></small>
      </div>
      <div class="col-3">
        <small><a href="" class="text-secondary">CHÍNH SÁCH HOẠT ĐỘNG</a></small>
      </div>
      <div class="col-3">
        <small><a href="" class="text-secondary">CHÍNH SÁCH VẬN CHUYỂN</a></small>
      </div>
      <div class="col-3">
        <small><a href="" class="text-secondary">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a></small>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-5 mb-1">
      <img class="mx-5" src="../../../assets/img/bo-cong-thuong.png" alt="">
      <img class="mx-5" src="../../../assets/img/bo-cong-thuong.png" alt="">
    </div>
    <div>
      <small class="text-muted">Công ty TNHH Đang Đặt Tên</small>
    </div>
    <div class="mt-5 text-muted">
      <h6>
        Địa chỉ: Tầng 29, Tòa nhà trung tâm Lotte Hà Nội, 54 Liễu Giai, phường Cống Vị, Quận Ba Đình, Hà Nội. Tổng đài
        hỗ trợ: 19001221 - Email: support@company.vn
      </h6>
      <h6>
        Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Đà Nẵng cấp lần đầu ngày 10/02/2019
      </h6>
      <h6>
        © 2019 - Bản quyền thuộc về Công ty TNHH Đang Đặt Tên
      </h6>
    </div>
  </div>
</div>