<div class="container">
  <div class="m-3">
    <h5>Đơn hàng của tôi</h5>
  </div>
  <div>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Mã đơn hàng</th>
          <th>Ngày mua</th>
          <th>Sản phẩm</th>
          <th>Tổng tiền</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | paginate:{ itemsPerPage: 10, currentPage: p }">
          <td><a href="myOrder/{{order.id}}">{{order.id}}</a></td>
          <td>{{order?.created_at}}</td>
          <td>{{order?.order[0]?.product.split(' ', 3).join(' ')}} ... và {{order.order.length - 1}} sản phẩm khác</td>
          <td>{{order.amount}}</td>
          <td>Thành công</td>
        </tr>
      </tbody>

    </table>
  </div>
  <!-- pagination -->
  <div class="d-flex justify-content-center mt-5">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>