<div class="row wrap-white my-2">
    <span>DANH MỤC</span>
</div>
<div class="row wrap-white">
    <div *ngFor="let item of data" class="col-md-2">
        <a href="products/category/{{item._id}}">
            <div class="card">
                <img class="card-img-top p-1" src={{item.image}} alt="Card image cap">
                <div class="card-body text-center">
                    <small class="card-title text-center">{{item.name}}</small>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row wrap-white my-2">
    <span>TOP SẢN PHẨM BÁN CHẠY</span>
</div>

<!-- Product -->
<div class="row wrap-white">
    <div *ngFor="let i of [].constructor(12)" class="col-lg-3 col-md-4 col-6">
        <a href="" class="card my-2 red-border">
            <img class="card-img-top" src="" alt="">
            <div class="card-body text-center">
                <small class="card-title"> ...</small>
                <br>
                <small class="card-title"></small>
            </div>
            <div class="card-footer text-center">
                <small>Created at</small>
            </div>
        </a>
    </div>
</div>

<div class="row wrap-white my-2">
    <span>GỢI Ý HÔM NAY</span>
</div>

<div class="row wrap-white">
    <div *ngFor="let i of [].constructor(12)" class="col-lg-3 col-md-4 col-6">
        <a href="" class="card my-2 red-border">
            <img class="card-img-top" src="" alt="">
            <div class="card-body text-center">
                <small class="card-title"> ...</small>
                <br>
                <small class="card-title"></small>
            </div>
            <div class="card-footer text-center">
                <small>Created at</small>
            </div>
        </a>
    </div>
</div>