

<div class="container">
  <app-carousel></app-carousel>
  <div class="row mt-3">
    <div class="col-md-2 p-2">

      <!-- show catalog children -->

      <div class="my-3">
        <span class="d-none d-md-block">
          <i style="vertical-align: middle" class="material-icons">list</i>
          <b> Tất cả danh mục</b>
        </span>
        <button class="btn btn-primary d-md-none" type="button" data-toggle="collapse" data-target="#catalogCollapse"
          aria-controls="catalogCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i style="vertical-align: bottom" class="material-icons">list</i>
          <span class="">Tất cả danh mục</span>
        </button>
      </div>

      <div id="catalogCollapse" class="collapse">
        <ul class="list-group list-group-flush">
          <li *ngFor="let cat of catList" class="list-group-item">
            <a href="/products/category/{{cat?._id}}">{{cat?.name}}</a>
          </li>
        </ul>
      </div>

      <div class="d-none d-md-block">
        <ul class="list-group list-group-flush">
          <li *ngFor="let cat of catList" class="list-group-item">
            <a href="/products/category/{{cat?._id}}">{{cat?.name}}</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-md-10">
      <!-- Sort -->
      <div class="row p-2 ">
        <div style="align-self: center" class="mx-2">
          <span> Sắp xếp theo </span>
        </div>
        <div>
          <button type="button" class="list-group-item list-group-item-action active">
            Phổ biến
          </button>
        </div>
        <div>
          <button type="button" class="list-group-item list-group-item-action">Mới nhất</button>
        </div>
        <div>
          <button type="button" class="list-group-item list-group-item-action">Bán chạy</button>
        </div>
      </div>
      <!-- Product -->
      <div class="row">
        <div *ngFor="let product of products | paginate:{ itemsPerPage: 12, currentPage: p }"
          class="col-lg-3 col-md-4 col-6">
          <div class="red-border">
            <a href="/product-detail/{{product?._id}}" class="card my-2">
              <img class="card-img-top" src={{product?.image}} alt="">
              <div class="card-body text-center">
                <small class="card-title"> {{product?.name.split(' ', 6).join(' ')}}...</small>
                <br>
                <small class="card-title">{{product.price}}</small>
              </div>
              <div class="card-footer text-center">
                <small>Created at {{product?.created_at}}</small>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div>{{collection}}</div>
    </div>
  </div>
  <!-- pagination -->
  <div class="d-flex justify-content-center mt-5">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>