<div class="container m-3">
  <div class="row">
    <!-- Avatar  -->
    <div class="col-sm-4 col-12">
      <div>
        <img src="{{user?.profile.avatar}}" alt="" class="rounded-lg shadow img-thumbnail">
      </div>
    </div>
    <!-- Profile -->
    <div class="col-sm-8 col-12">
      <div class="text-center mb-3">
        <h4 class="font-weight-bold">Thông tin tài khoản</h4>
      </div>

      <form [formGroup]="userProfileForm" (ngSubmit) = "onSubmit()">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Họ & tên</label>
          <div class="col-sm-10">
            <input class="form-control" value={{user?.fullname}} formControlName='fullname'>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">SĐT</label>
          <div class="col-sm-10">
            <input class="form-control" value={{user?.phone}} formControlName = 'phone'>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input class="form-control" value={{user?.email}} formControlName = 'email' disabled >
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Địa chỉ</label>
          <div class="col-sm-10">
            <input class="form-control" value={{user?.address}} formControlName = 'address'>
          </div>
        </div>
        <button  class="btn btn-block btn-primary mt-5">Cập nhật</button>
      </form>
    </div>
  </div>
</div>