<div class="container m-3">
  <div class="row">
    <!-- Avatar  -->
    <div class="col-sm-4 col-12">
      <div>
        <img src="../../assets/img/maihuong.jpg" alt="" class="rounded-lg shadow img-thumbnail">
      </div>
    </div>
    <!-- Profile -->
    <div class="col-sm-8 col-12">
      <div class="text-center mb-3">
        <h4 class="font-weight-bold">Thông tin tài khoản</h4>
      </div>

      <form>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Họ & tên</label>
          <div class="col-sm-10">
            <input class="form-control" value="Huỳnh Phong Lưu">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">SĐT</label>
          <div class="col-sm-10">
            <input class="form-control" value="0789 390 224">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input class="form-control" value="test@test.com" disabled>
          </div>
        </div>

        <div class="row form-group">
          <label class="col-sm-2">Giới tính</label>
          <div class="col-sm-10">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline1">Nam</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline2">Nữ</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Địa chỉ</label>
          <div class="col-sm-10">
            <input class="form-control" value="K69/04 Ngô Thì Nhậm, Liên Chiểu, Đà Nẵng">
          </div>
        </div>
        <button type="button" class="btn btn-block btn-primary mt-5">Cập nhật</button>
      </form>
    </div>
  </div>
</div>