/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #f2f2f2;} 
.card-body{
    padding: 5px;
}
.wrap-white{
    background-color: #fff;
    padding: 10px;
}

.red-border:hover{
    border: 1px solid red 
}

a, u {
    color: darkslategrey;
    text-decoration: none !important;
}

a:hover{
    color: black;
}